.main-header{

    display:flex;
    justify-content: space-around;
    align-items: center;

    .logo-title{

        display:flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 2rem;

        .comp-name{
            margin-left:1rem;
        }
    }
    .btn-menu{

        padding:1rem 2rem 1rem 2rem;
        border: none;
        background-color: transparent;

        .fa-ellipsis-vertical{
            font-size: 2.5rem;
        }

        .fa-chevron-right{
            font-size: 2rem;
            display:none;
        }
    }
    .main-menu{
        display:none;
    }
}